.header{
        text-align:center;
             }
h1{color:linear-gradient(LightBlue, DarkBlue);
        text-align:center;
        }
h4{color:white;
        
        }
body{
     background-image: linear-gradient(DimGray, DarkSlateGray, Black);
     font-family:"Sans-serif", Arial;
     color:white;
          }
p{color:white;}
ul{color:white;}
li{oclor:white;}
html{
        background-image: linear-gradient(DimGray, DarkSlateGray;)
    }
.shortline{width="25%"}
