.header{background-image:linear-gradient(DimGray, DarkSlateGrey);
        text-align:center;
             }
h1{color:darkblue;
        text-align:center;
        }
h4{color:white;
        
        }
body{background:DarkSlateGray;
     font-family:"Sans-serif", Arial;
     color:white;
          }
p{color:white;}
ul{color:white;}
li{oclor:white;}
html{background:DarkSlateGray;}
.shortline{width="25%"}
