.header{background-image: linear-gradient(to bottom right, DarkSlateGray, DimGray, DimGrey, DimGray, DarkSlateGray);
        text-align:center;
             }
h1{color:darkblue;
        text-align:center;
        }
h4{color:white;
        
        }
body{background-image: linear-gradient(DimGrey, DimGray, DarkSlateGray, DarkSlateGray, DarkSlateGray, DarkSlateGray);
     font-family:"Sans-serif", Arial;
     color:white;
          }
p{color:white;}
ul{color:white;}
li{oclor:white;}
html{background:DarkSlateGray;}
.shortline{width="25%"}
